@font-face {
    font-family: 'basscrw';
    src: url('../fonts/basscrw-webfont.eot');
    src: url('../fonts/basscrw-webfont.eot') format('embedded-opentype'),
         url('../fonts/basscrw-webfont.woff') format('woff'),
         url('../fonts/basscrw-webfont.ttf') format('truetype'),
         url('../fonts/basscrw-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}